/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #e97a0b;
    color: #fefefe;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: #fbfbfb;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #444;
  }
  
  /* Estilos del contenido principal */
  main {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
  }
  
  h1 {
    font-size: 46px;
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  h3{
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #222;
    border: none;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .producto {
    display: inline-block;
    width: 430px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    display: inline-block;
  }

  .productoindex img {
    width: 100%;
    height: 100;
    border-radius: 5px;
   
  }

  .productonosotros img {
    width: 100%;
    height: auto;
    
    border-radius: 5px;
   
  }

  .producto h3 {
    margin-top: 5px;
    font-size: 18px;
  }

  .producto p {
    font-size: 14px;
    color: #666;
  }

